In [29]:
import yaml
import pandas as pd
from pyprojroot import here
import numpy as np

### final cohorts

In [30]:
df_cohorts = pd.read_csv(here() / "build" / "cohorts.csv")
df_cohorts.head()

,cohort_id,cohort_size,country,admin1_iso,admin1_name,admin2_name,taxon,year,cohort_label,sample_query
0,AO-LUA_Luanda_colu_2009,77,Angola,AO-LUA,Luanda,Luanda,coluzzii,2009,Angola / Luanda / coluzzii / 2009,cohort_admin2_year == 'AO-LUA_Luanda_colu_2009...
1,BF-09_Houet_colu_2012,78,Burkina Faso,BF-09,Hauts-Bassins,Houet,coluzzii,2012,Burkina Faso / Houet / coluzzii / 2012,cohort_admin2_year == 'BF-09_Houet_colu_2012' ...
2,BF-09_Houet_colu_2014,32,Burkina Faso,BF-09,Hauts-Bassins,Houet,coluzzii,2014,Burkina Faso / Houet / coluzzii / 2014,cohort_admin2_year == 'BF-09_Houet_colu_2014' ...
3,BF-09_Houet_gamb_2012,73,Burkina Faso,BF-09,Hauts-Bassins,Houet,gambiae,2012,Burkina Faso / Houet / gambiae / 2012,cohort_admin2_year == 'BF-09_Houet_gamb_2012' ...
4,BF-09_Houet_gamb_2014,41,Burkina Faso,BF-09,Hauts-Bassins,Houet,gambiae,2014,Burkina Faso / Houet / gambiae / 2014,cohort_admin2_year == 'BF-09_Houet_gamb_2014' ...

In [26]:
window_size = []

for cohort_id in df_cohorts.loc[:, 'cohort_id']:

    # load window sizes 
    outdir = here() / "build" / "h12-calibration"
    with open(outdir / f"{cohort_id}.yaml") as params_file:
        window_size_params = yaml.safe_load(params_file)
    
    window_size.append(window_size_params['h12_window_size'])
    
df_cohorts.loc[:, 'h12_window_size'] = window_size

In [28]:
df_cohorts = df_cohorts.query("~h12_window_size.isna()", engine='python')
df_cohorts.to_csv(here() / "build" / "final_cohorts.csv", sep=",", index=None)